{% extends 'base.html'   %}

{% block title %}login{% endblock title%}
{% block  body %} 


<head>
    <style>
        body {
            /* background-image: url(/static/images/mumbailocal.jpg); */
        }
    </style>
</head>

<body>
    {% comment %} <h1 class="bg-light text-dark text-center">This is the KCS Layout</h1> {% endcomment %}
    <form class="text-center" action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="file" name="document">
        <button type="submit">Upload File</button>
    </form>
    {% if url %}
        <p>Uploaded File : <a href="{{ url }}">{{ url }}</a></p>
    {% endif %}
</body>

{% endblock body%}