{% extends 'base.html'   %}

{% block title %}login{% endblock title%}
{% block  body %} 


<head>
    <style>
        /* body {
            background-image: url(/static/images/mumbailocal.jpg);
        } */
    </style>
</head>

<body>
    <h1 class="bg-light text-dark text-center">This is the KCS Cultural Group</h1>

    <div class="container-fluid">
        <div class="py-5 text-center bg-secondary text-white">
            <h1 class="mb-3">Upload Image</h1>
            <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{form}}
                <input type="submit" class="btn btn-danger" value="Upload">
            </form>
        </div>
        <div class="row">
            {% for x in img %}
            <div class="col-sm-4">
                <div class="card m-2">
                    <img src="{{x.photo.url}}" alt="" class="card-img-top" height="200px">
                    <div class="card-footer">
                        <small class="text-muted">{{x.date}}</small>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</body>

{% endblock body%}

