body {
  /* background: #0CE9AF; */
  display: flex;
  flex-direction: column;
  font-family: Lato;
  height: 100%;
  margin: auto;
  text-shadow: 0 0px 2px rgba(245, 245, 245, .25);
}

.upload {
  margin: auto;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box-input {
  text-align: center;
}

/* .box-input svg {
  width: 5rem;
  height: 5rem;
  vertical-align: middle;
  fill: currentColor;
} */

/* form {
  color: #fff;
} */

/* input[type="button" i],
input[type="file" i]::-webkit-file-upload-button {
  display: none!important;
} */

/* .box.has-advanced-upload {
  transition: all .15s ease-in-out, background-color .15s linear;
} */

.upload .box-input {
  height: -39%;
  border-radius: 23px;
  font-size: 1.25rem;
  background-color: #933ded;
  border: 2px solid whitesmoke;
  /* box-shadow: inset 0 2px 4px rgb(0 0 0 / 75%); */
  padding: 3rem 3rem 0rem 3rem;
  width: 98vh;
  margin-top: 50px;
  height: 48vh;
}

.js .box-file {
  width: .1px;
  height: .1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.box-input label {
  margin: auto;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #fff;
  cursor: pointer;
  text-align: center;
  display: block;
  overflow: hidden;
}

.js .box-file + label * {
  pointer-events: none;
}

.js .box-file:focus + label {
  outline: 1px dotted #000;
  outline: -webkit-focus-ring-color auto 5px;
}

button {
  border-radius: 7px;
  background: #0CE9AF;
  border: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .25);
  color: #fff;
  display: flex;
  font-size: 13px;
  font-weight: 700;
  margin: auto;
  margin-top: 0.5rem;
  overflow: auto;
  padding: 1rem 1.5rem;
}

button:hover {
  box-shadow: 0 4px 12px rgba(0, 0, 0, .5);
}

button:active {
  box-shadow: none;
}

.box-uploading {
  font-style: italic;
}

.box-success {
  transition: appear-from-inside .25s ease-in-out;
}

.box__success {
  -webkit-animation: appear-from-inside .25s ease-in-out;
          animation: appear-from-inside .25s ease-in-out;
}

@-webkit-keyframes appear-from-inside {
  from {
    transform: translateY( -50%) scale( 0);
  }
  75% {
    transform: translateY( -50%) scale( 1.1);
  }
  to {
    transform: translateY( -50%) scale( 1);
  }
}

@keyframes appear-from-inside {
  from {
    transform: translateY( -50%) scale( 0);
  }
  75% {
    transform: translateY( -50%) scale( 1.1);
  }
  to {
    transform: translateY( -50%) scale( 1);
  }
}

.box-restart {
  font-weight: 700;
}

input,
textarea,
select {
  border-radius: 0;
  border: none;
}

input {
  line-height: normal;
  margin-left: 35%;
}

.box-dragndrop,
.box-icon,
.box-uploading,
.box-success,
.box-error {
  display: none;
}

.box.has-advanced-upload .box-dragndrop {
  display: inline;
}

strong {
  color: #fff;
}

.fa-fighter-jet{
  transform: rotate(-90deg);
  font-size: 35px;
}

.fa-cloud{
  font-size: 20px;
}

/* This Section For Under Work  This Section for make Responsive */

/* 
@media only screen and (max-width: 600px) {
  body{
    background-color: red;
    overflow: a;
  }
  #upload{
    overflow: auto;
   
  }
}

@media only screen and (min-width: 600px) {
  body{
    background-color: #0CE9AF;
  }
  #upload{
    overflow: auto;
   
  }
}
@media only screen and (min-width: 768px) {
  body{
    background-color: blueviolet;
  }
  }
  #upload{
    overflow: auto;
   
}

@media only screen and (min-width: 992px) {
  body{
    background-color: brown;
  }
  #upload{
    overflow: auto;
    
  }
}
@media only screen and (min-width: 1200px) {
  body{
    background-color: palevioletred;
  }
  #upload{
    overflow: auto;
  display: flex;
  justify-content: center;
  }
  .box{
    display: flex;
  justify-content: center;
  }
} */