@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  user-select: none;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
.btn{
  position: absolute;
  top: 69px;
  left: 0px;
  height: 45px;
  width: 45px;
  text-align: center;
  background: #933ded;
  border-radius: 3px;
  cursor: pointer;
  transition: left 0.4s ease;
}
/* .btn.click{
  left: 260px;
} */
/* .btn span{
  color: white;
  font-size: 28px;
  line-height: 45px;
} */
/* .btn.click span:before{
  content: '\f00d';
} */

.sidebar{

  /* margin-left: 0.0625rem; */
  /* overflow: auto; */
  top: 70px;
  position: relative;
  width: 250px;
  height: 100vh;
  /* left: px; */
  background: #933ded;
  transition: left 0.4s ease;
  margin-top: 8rem;
 
}
.sidebar.show{
  left: 0px;
}
.sidebar .text{
  color: white;
  font-size: 25px;
  font-weight: 600;
  line-height: 65px;
  text-align: center;
  background: #933ded;
  letter-spacing: 1px;
  border-bottom: 2px solid whitesmoke
}
nav ul{
  background: #933ded;
  height: 100%;
  width: 100%;
  list-style: none;
}
nav ul li{
  line-height: 60px;
  border-top: 1px solid rgba(255,255,255,0.1);
  color: white;
}
nav ul li:last-child{
  border-bottom: 1px solid rgba(255,255,255,0.05);
}
nav ul li a{
  position: relative;
  color: white;
  text-decoration: none;
  font-size: 0.875rem;
  /* padding-left: 2px; */
  font-weight: 500;
  display: block;
  width: 100%;
  border-left: 3px solid transparent;
  height: 3.125rem;
}
nav ul li.active a{
  /* color: cyan; */
  /* background: #1e1e1e; */
  font-size: 0.8125rem;
  background-color: #933ded;
  color: white;
  /* border-left-color: whitesmoke; */
}
nav ul li a:hover{
  background: #933ded;
}
nav ul ul{
  position: static;
  display: none;
}
nav ul .feat-show.show{
  display: block;
}
nav ul .join-notes.show{
  display: block;
}
nav ul .serv-show.show1{
  display: block;
}
nav ul .join-notes.show3{
  display: block;
}
nav ul ul li{
  line-height: 42px;
  border-top: none;
}
nav ul ul li a{
  font-size: 17px;
  color: #e6e6e6;
  padding-left: 80px;
}
nav ul li.active ul li a{
  color: #e6e6e6;
  background: #933ded;
  border-left-color: transparent;
}
nav ul ul li a:hover{
  color: whitesmoke!important;
  background: #00000050!important;
}
nav ul li a span{
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  font-size: 22px;
  transition: transform 0.4s;
}
nav ul li a span.rotate{
  transform: translateY(-50%) rotate(-180deg);
}
.content{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: #202020;
  z-index: -1;
  text-align: center;
}
.content .header{
  font-size: 45px;
  font-weight: 600;
}
.content p{
  font-size: 30px;
  font-weight: 500;
}
